/**
 * This file is part of SIMPL4(http://simpl4.org).
 *
 * 	Copyright [2014] [Manfred Sattler] <manfred@ms123.org>
 *
 * SIMPL4 is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * SIMPL4 is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with SIMPL4.  If not, see <http://www.gnu.org/licenses/>.
 */
	html table.responsive.dataTables {
		width: 100%;
		max-width: 100%;
		font-size: 12px;
		cursor: default;
		border: 0 none;
	}
	html table.responsive.dataTables tr {
		height: 24px;
	}
	@media screen and (max-width: 767px) {
		html table.responsive.dataTables tr {
			height: 28px;
		}
	}
	html #dataTablesId_length {
		max-width: 170px;
		font-size: 12px;
		margin-bottom: 2px;
		float: left;
	}
	html #dataTablesId_length select {
		font-size: 11px;
		width: 50px;
	}
	html #dataTablesId_length label {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
	}
	html #dataTablesId_filter label {
		font-size: 12px;
		margin-top: 2px;
	}
	html #dataTablesId_filter input {
		width: 90px;
		margin-top: 2px;
	}
	html table.dataTable.dtr-inline.collapsed.responsive.dataTables td:first-child:before {
		top: 2px !important;
		height: 16px !important;
		width: 16px !important;
		font-size: 14px !important;
		font-family: verdana !important;
		line-height: 14px !important;
		left: 4px !important;
		font-weight: 800 !important;
		//border: 1px solid gray !important;
		border-radius: 3px !important;
		box-shadow: 0 0 0px !important;
		background-color: white;
		color: gray;
	}
	@media screen and (max-width: 767px) {
		html table.dataTable.dtr-inline.collapsed.responsive.dataTables td:first-child:before {
			top: 2px !important;
			height: 20px !important;
			width: 20px !important;
			font-size: 20px !important;
			font-family: verdana !important;
			line-height: 21px !important;
			left: 2px !important;
		}
	}
	html table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before,
	html table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
		content: '-';
		background-color: white;
	}
	html table.responsive.dataTables thead tr th,
	html table.responsive.dataTables tfoot tr th {
		background: white;
	}
	html .dataTables_scroll {
		border-bottom: 1px solid #e0e0e0;
	}
	html table.responsive.dataTables thead th,
	html table.responsive.dataTables thead td {
		border-bottom: 1px solid #e0e0e0;
		border-top: 1px solid #e0e0e0;
	}
	html #dataTablesId[aria-describedby] {
		border-bottom: 1px solid #e0e0e0;
	}
	html #dataTablesId.border thead tr th:first-child {
		border-left: 1px solid gray;
		border-top-left-radius: 3px;
	}
	html #dataTablesId.border thead tr th:last-child {
		border-right: 1px solid gray;
		border-top-right-radius: 3px;
	}
	html #dataTablesId.border tbody tr td:first-child {
		border-left: 1px solid gray;
	}
	html #dataTablesId.border tbody tr td:last-child {
		border-right: 1px solid gray;
	}
	polyfill-rule {
		content: 'table.responsive.dataTables td:first-child:before';
		top: 3px !important;
	}
	html table.responsive.dataTables tbody tr td:not(:first-child) {
		padding: 5px 8px 5px;
		line-height: 1.0;
	}
	html table.responsive.dataTables tbody tr td:first-child {
		padding: 5px 28px 5px;
	}
	html table.responsive.dataTables thead tr th,
	table.dataTable tfoot tr th {
		padding: 0em 0.625em 0em;
		text-align: left;
		line-height: 1.6;
	}
	html table.responsive.dataTables tbody tr.odd.selected,
	table.dataTable.display tbody tr.odd.selected,
	html table.responsive.dataTables tbody tr.even.selected,
	table.dataTable.display tbody tr.even.selected {
		background-color: #d3d3d3;
	}
	html table.responsive.dataTables thead tr th,
	html table.responsive.dataTables tfoot tr th {
		background: white;
	}
	html table.responsive.dataTables thead tr th:first-child {
		padding: 0px 30px 0px;
	}
	html table.responsive.dataTables .dtr-title {
		font-size: 13px;
	}
	html table.responsive.dataTables .dtr-data {
		white-space: normal;
		font-size: 12px;
	}
	html table.responsive.dataTables td {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	html .paginate_enabled_previous,
	html .paginate_enabled_next {
		font-size: 2.2em !important;
		font-weight: bold !important;
		cursor: pointer;
	}
	html .paginate_disabled_previous,
	html .paginate_disabled_next {
		font-size: 2.2em !important;
		cursor: normal;
		visibility: hidden;
	}
	html .paginate_disabled_previous,
	html .paginate_enabled_previous {
		margin-right: 25px;
	}
	html .dataTables_info {
		float: left !important;
		text-align: left !important;
	}
	html .dataTables_paginate {
		text-align: right !important;
		padding: 0px !important;
	}
	html .dataTables_paginate {
		margin-top: 0.05em !important;
	}
	.dataTables_scrollBody {
		overflow-x: hidden !important;
	}

