<div id="<%= id1 %>" style="background:white;overflow:auto;height:100%">
  <br />
  <div id="<%= id1 %>-tree" style="" />
  <!--div style="clear:both">
      <br />
      <hr />
      <button id="<%= id1 %>-button1" nowrap="nowrap">
        <span class="ui-icon ui-icon-disk" style="float:left"></span><%= $.i18n.prop("meta.traits.new_trait") %>
      </button>
    </div-->
</div>
